.appLogo {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
@media(max-width:700px) {
    .appLogo {
        display: none;
    }
}

.allLogo{
    display: none;
}
@media(max-width:700px) {
    .allLogo {
        display: block;
    }
}